.product-container {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-size: smaller;
    margin: 0px;
}

.product-container img {
    width: 200px;
    height: 200px;
   
}
product_button1{
    background-color: blueviolet;
    margin: 20px;
    justify-content:center;
    padding: 2px;
    width: 50px;
    font-size: 15px;
}

buyButton{
    background-color: blueviolet;
    margin: 20px;
    justify-content:center;
    padding: 2px;
    width: 50px;
    font-size: 15px;
   
}

button {
    
    padding: 10px 20px;
    border: none;
    border-radius: 2px;
   
   
}


.product_button1 {
    background-color:blue; 
    color: white;
    
}

.product_button1:hover {
    background-color:red;
    transform: scale(1.05);
}


.product_button2 {
    background-color: #007bff; 
    color: white;
    margin-left: 20px;
   
}

.product_button2:hover {
    background-color: green;
    transform: scale(1.05);
}


